body{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    /* text-align: center; */
}
#btn__cabecera {
    display: flex; justify-content: space-between; /* Uno a cada lado */
    padding: 20px; height: 120px; /* Ajusta según tu diseño */ 
    /* width: 100%; */
}
#alarma{
    font-size: 5.5em;
    margin-top: 0;
}
#hora_actual{
    font-size: 7em;
    margin-top: 0;
}