body{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    /* text-align: center; */
}
#btn__cabecera{
    display: flex; justify-content: space-between; /* Uno a cada lado */
    padding: 20px; height: 120px; /* Ajusta según tu diseño */ 
    /* width: 100%; */
}
#reloj{
    font-size: 7em;
    margin-top: 0;
}
#hora_actual{
    font-size: 7em;
    margin-top: 0;
}
#inicio{
    text-decoration: none;
    color: black;
    font-size: 3.5em;
}
button{
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    /* margin-top: 1em; */
    
}
p{
    margin: 0;
}
#btn__cuerpo{
    text-align: center;
    margin-top: 5em;
    display: flex; justify-content: center; gap: 4em;
}
.btn__imagenes{
    width: 7em;
    height: 7em;
}
a{
    text-decoration: none;
    color: black;
}