body{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#reloj{
    font-size: 7em;
    margin-top: 1em;
}
#hora_actual{
    font-size: 4em;
}
#inicio{
    text-decoration: none;
    color: black;
    font-size: 3.5em;
}
button{
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    /* margin-top: 1em; */

}